.products {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}
.modal-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-product {
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin: 0 auto;
  height: 35rem;
  width: 20rem;
}

app-popup {
  position: fixed;
  left: 50%;
  z-index: 4200;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

@media only screen and (max-width: 760px) {
  app-product {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  app-product {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}
