.products {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

.modal-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
