.product__side {
  /* height: 52rem; */
  transition: all 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  background-color: #2998ff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.product__side--front {
  background: linear-gradient(
    180deg,
    rgba(31, 228, 255, 0) 0%,
    rgba(31, 228, 255, 0.49) 100%
  );
}
.product__side--back {
  transform: rotateY(180deg);
}

.product__side--back-1 {
  background: linear-gradient(
    180deg,
    rgba(31, 228, 255, 0) 0%,
    rgba(31, 228, 255, 0.49) 100%
  );
}
:host:hover .product__side--front {
  transform: rotateY(-180deg);
}
:host:hover .product__side--back {
  transform: rotateY(0);
}
.product__picture {
  width: 100%;
  background-size: cover;
  height: 15rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product__heading {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.product__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.product__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.product__details {
  padding: 1rem;
}
.product__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.product__details ul li {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  color: #fff;
}
.product__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.product__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.product__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}
.product__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.product__price-value {
  font-size: 1.6rem;
  font-weight: 100;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #143b88;
  color: #fff;
}

.btn--white::after {
  background-color: #143b88;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.4s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  text-transform: uppercase;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer;
  width: 16rem;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .product__side {
    height: auto;
    position: relative;
    box-shadow: none;
    /* top: 4rem; */
  }
  .product__side--back {
    transform: rotateY(0);
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  :host:hover .product__side--front {
    transform: rotateY(0);
  }
  .product__details {
    padding: 1rem 3rem;
  }

  .product__cta {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0) translateY(-35%);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }

  .product__price-box {
    margin-bottom: 3rem;
  }
  .product__price-value {
    font-size: 2rem;
  }
}
